.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 34, 35, 0.03);
    }
}

.icon,
.active-icon {
    width: 3.2rem;
    height: 3.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.title {
    margin-left: 10px;
}

.active-icon {
    display: none;
}
