//menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0px;
    }
}

.menu-wrapper {
    padding-bottom: 8px;
}

//menu item
.menu-item {
    width: 100%;
    padding: 11px 16px;
    justify-content: flex-start;
    border-radius: 0;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
