//menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}
//menu item
.menu-item {
    width: 100%;
    padding: 11px 16px;
    justify-content: flex-start;
    line-height: 1.8rem;
    border-radius: 0;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//menu header
.header {
    position: relative;
    width: 100%;
    height: 50%;
    padding: 8px 0px;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #161823;
}
