.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 1.6rem;
    font-weight: 500;
}
.check {
    margin-left: 6px;
    color: #20d5ec;
    font-size: 1.2rem;
}

.username {
    font-size: 1.4rem;
    color: #888;
}
